# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:what-ever-this-is-meant-to-be # team: reswork, project: reswork

VITE_CONVEX_URL=https://what-ever-this-is-meant-to-be.convex.cloud

VITE_CONVEX_SITE_URL=https://what-ever-this-is-meant-to-be.convex.site

SITE_URL=http://localhost:3000

VITE_SITE_URL=http://localhost:3000
