@import 'tailwindcss';

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #111111;
  --secondary-color: #666666;
  --tertiary-color: #121110;
  --neutral-color: #f9f9f9;
  --border-color: #e5e5e5;
  --dark-gray-color: #e2e2e2;
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);
  --color-neutral: var(--neutral-color);
  --color-border: var(--border-color);
  --color-dark-gray: var(--dark-gray-color);
  --font-sans: 'Inter', sans-serif;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-neutral);
}

button {
  cursor: pointer;
}

.noscroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width ease 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.frosted-glass {
  /* Semi-transparent background layer */
  background: rgba(255, 255, 255, 0.15);

  /* Blurs the content hiding directly behind the element */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari support */

  /* Optional but recommended enhancements for realism */
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
}
