@import 'tailwindcss';

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #111111;
  --secondary-color: #666666;
  --tertiary-color: #121110;
  --neutral-color: #f9f9f9;
  --border-color: #e5e5e5;
  --dark-gray-color: #e2e2e2;
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);
  --color-neutral: var(--neutral-color);
  --color-border: var(--border-color);
  --color-dark-gray: var(--dark-gray-color);
  --font-sans: 'Inter', sans-serif;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  position: relative;
  background-color: var(--color-neutral);
}

button {
  cursor: pointer;
}

.root {
  isolation: isolate;
}

.noscroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width ease 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
